<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xmlns:tx="http://www.springframework.org/schema/tx"
 xmlns:p="http://www.springframework.org/schema/p" 
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context   
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">
<!--  <bean id="itemdao"  -->
<!--   class="com.jin.product.dao.ItemDAOImpl" -->
<!--   parent="sqlMapClientTemplate"/> -->
 
 
<!--  <bean id="codedao"  -->
<!--   class="com.jin.base.dao.CodeDAOImpl" -->
<!--   parent="sqlMapClientTemplate"/> -->
 
<!--  <bean id="productServiceFacade"  -->
<!--      class="com.jin.product.service.ProductServiceFacadeImpl" -->
<!--      p:itemdao-ref="itemdao" -->
<!--      p:bomdao-ref="bomdao" -->
<!--      p:codedao-ref="codedao" -->
<!--      p:messageSource-ref="messageSource" /> -->


 <bean id="resServiceFacade" 
     class="com.sara.res.service.ReservationServiceFacadeImpl"
     p:resDAO-ref="resDAO"
     />

 <bean id="resDAO" 
  class="com.sara.res.dao.ReservationDAOImpl"
  parent="sqlMapClientTemplate"/>

<!-- <bean id="scheduledTask" class="org.springframework.scheduling.timer.ScheduledTimerTask"> -->
<!-- <property name="delay" value="10000"/> -->
<!-- <property name="period"/> -->
<!-- </bean> -->
 
</beans>